.App {
  text-align: center;
  justify-content: center;
  align-items: center;
  font: verdana;
  align-content: center;
  overflow: auto;
}

.Header {
  font-weight: 900;
}

.Body1 {
  text-align: center;
  justify-content: center;
  align-items: center;
  font: verdana;
  align-content: center;
  background-color: transparent;
  max-width: 600px;
  margin:0 auto;
}

.Menu1 {
  width: 100%;
  background-color: darkgray;
}

.Link {
  text-decoration: none;
  color: black;
  font: verdana;
  font-weight: 900;
}

.MyRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  width: 100%;
}

.MyColumn {
  flex: .1;
  margin: 0 1%;
  display: flex;
  justify-content: center;
}

.BigText {
  font-size: 30px;
  color: black;
  font: verdana;
}

.List {
  margin: 10px 0;
}

@media only screen and (max-width: 700px) {
  .Menu1 {
    padding-right: 40px;
    -webkit-transform:scale(0.6);
    -moz-transform:scale(0.6);
    -ms-transform:scale(0.6);
    transform:scale(0.6);
    background-color: transparent;
  }
}
